Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Timesheet" elementFormDefault="qualified" targetNamespace="Timesheet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="authenticationSection" type="tns:Timesheet.AuthenticationSectionCT" />
	<xs:complexType name="Timesheet.AuthenticationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="password" type="tns:Timesheet.PasswordCT">
				<xs:annotation>
					<xs:documentation>The Password.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="username" type="tns:Timesheet.UsernameCT">
				<xs:annotation>
					<xs:documentation>The Username.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Timesheet.UsernameCT">
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Timesheet.PasswordCT">
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
